* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Old Standard TT", serif;
}

a {
    text-decoration: none;
    color: #000;
}

.slogan {
    text-align: center;
}

@media (max-width: 767px) {
    .slogan {
        font-size: calc(24px + 47.6 * ((100vw - 320px) / 1800));
    }
}

@media (min-width: 767px) {
    .slogan {
        font-size: calc(24px + 28 * (100vw/ 1800));
    }
}

div, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    border-radius: 15px;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.menu {
    position: fixed;
    top: 20%;
    left: 10px;
    background: #f3f3f3;
    text-transform: uppercase;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    text-orientation: upright;
    opacity: 0.5;
    transition: 0.5s;
    border-radius: 9px;
    cursor: pointer;
}

@media (max-width: 767px) {
    .menu {
        font-size: calc(18px + 10.2 * ((100vw - 320px) / 1800));
    }
}

@media (min-width: 767px) {
    .menu {
        font-size: calc(18px + 6 * (100vw/ 1800));
    }
}

.menu:hover {
    opacity: 1;
    transition: 0.5s;
}

@media (max-width: 767px) {
    .menu:hover {
        font-size: calc(18px + 23.8 * ((100vw - 320px) / 1800));
    }
}

@media (min-width: 767px) {
    .menu:hover {
        font-size: calc(18px + 14 * (100vw/ 1800));
    }
}

.flex-block-column {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.container {
    margin-bottom: 200px;
}

.button-menu {
    transition: 1.5s;
}

#header .container .flex-block-column .header__block-menu {
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto 0;
}

#header .container .flex-block-column .header__block-menu .menu-block {
    -ms-flex-pack: center;
    justify-content: center;
}

#header .container .flex-block-column .header__block-menu .menu-block .flex-block-row button, #header .container .flex-block-column .header__block-menu .menu-block .flex-block-row a {
    cursor: pointer;
    text-decoration: none;
    color: #000;
    transition: 0.5s;
    font-family: "Andada Pro", serif;
}

@media (max-width: 767px) {
    #header .container .flex-block-column .header__block-menu .menu-block .flex-block-row button, #header .container .flex-block-column .header__block-menu .menu-block .flex-block-row a {
        font-size: calc(14px + 6.8 * ((100vw - 320px) / 1800));
    }
}

@media (min-width: 767px) {
    #header .container .flex-block-column .header__block-menu .menu-block .flex-block-row button, #header .container .flex-block-column .header__block-menu .menu-block .flex-block-row a {
        font-size: calc(14px + 4 * (100vw/ 1800));
    }
}

@media screen and (max-width: 768px) {
    #header .container .flex-block-column .header__block-menu .menu-block .flex-block-row button, #header .container .flex-block-column .header__block-menu .menu-block .flex-block-row a {
        display: none;
    }
}

#header .container .flex-block-column .header__block-menu .footer__logo img {
    width: 120px;
    height: auto;
}

#header .container .flex-block-column .header__block-menu .header-txt-block {
    display: none !important;
}

#header .container .flex-block-column .header__block-menu .flex-block-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

@media screen and (max-width: 992px) {
    #header .container .flex-block-column .header__block-menu .flex-block-row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

#header .container .flex-block-column .header__block-menu .flex-block-row .logo-phone {
    box-sizing: border-box;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
}

@media screen and (max-width: 992px) {
    #header .container .flex-block-column .header__block-menu .flex-block-row .logo-phone {
        -ms-flex-direction: row !important;
        flex-direction: row !important;
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }
}

#header .container .flex-block-column .header__block-menu .flex-block-row .logo-phone hr {
    margin: 0 15px;
}

#header .container .flex-block-column .header__block-menu .flex-block-row .logo-phone .flex-block-column {
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

#header .container .flex-block-column .header__block-menu .flex-block-row .logo-phone .flex-block-column .header__phone {
    width: 187px;
}

#header .container .flex-block-column .header__block-menu .flex-block-row .logo-phone .flex-block-column .header__phone a {
    margin: 0 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    transition: 0.5s;
}

#header .container .flex-block-column .header__block-menu .flex-block-row .logo-phone .flex-block-column .header__phone a:hover, #header .container .flex-block-column .header__block-menu .flex-block-row .logo-phone .flex-block-column .header__phone a:active, #header .container .flex-block-column .header__block-menu .flex-block-row .logo-phone .flex-block-column .header__phone a:focus {
    opacity: 1;
    text-decoration: underline;
    transition: 0.5s;
}

#header .container .flex-block-column .header__block-menu button, #header .container .flex-block-column .header__block-menu a {
    cursor: pointer;
    border: none;
    background: none;
    opacity: 0.5;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: auto 0;
    transition: 0.5s;
}

@media (max-width: 767px) {
    #header .container .flex-block-column .header__block-menu button, #header .container .flex-block-column .header__block-menu a {
        font-size: calc(14px + 6.8 * ((100vw - 320px) / 1800));
    }
}

@media (min-width: 767px) {
    #header .container .flex-block-column .header__block-menu button, #header .container .flex-block-column .header__block-menu a {
        font-size: calc(14px + 4 * (100vw/ 1800));
    }
}

#header .container .flex-block-column .header__block-menu button:hover, #header .container .flex-block-column .header__block-menu button:active, #header .container .flex-block-column .header__block-menu button:focus, #header .container .flex-block-column .header__block-menu a:hover, #header .container .flex-block-column .header__block-menu a:active, #header .container .flex-block-column .header__block-menu a:focus {
    opacity: 1;
    text-decoration: underline;
    transition: 0.5s;
}

.element {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

@media screen and (max-width: 992px) {
    .element {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
}

.element img {
    width: 100%;
}

.container {
    max-width: 90vw;
    margin: 0 auto;
    padding: 20px;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 630px) {
    .container {
        padding: 20px 0;
    }
}

.container h2 {
    font-weight: normal;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .container h2 {
        font-size: calc(18px + 51 * ((100vw - 320px) / 1800));
    }
}

@media (min-width: 767px) {
    .container h2 {
        font-size: calc(18px + 30 * (100vw/ 1800));
    }
}

.container .element {
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.container-swiper {
    max-width: 90vw;
    margin: 0 auto;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.container-swiper img {
    width: 100%;
    margin: 20px 0;
}

.container-section {
    width: 100%;
}

.container-section img {
    width: 100%;
    margin: 20px 0;
}

.main {
    overflow: hidden;
    padding-top: 150px;
    overflow: hidden;
    width: 100vw;
    position: relative;
    top: 0;
    z-index: -1;
}

@media screen and (max-width: 992px) {
    .main {
        padding-top: 200px;
    }
}

.main .swiper-catalogue, .main .swiper {
    overflow: hidden;
}

.main section {
    margin: 5vw auto 18vw auto;
}

.main section .backgrond-block {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0.9;
    background-blend-mode: lighten;
    background-color: #fff;
    -webkit-filter: blur(0px) !important;
    filter: blur(0px) !important;
}

.main section .backgrond-block video {
    aspect-ratio: 16/9;
    box-sizing: border-box;
    width: 100vw !important;
    height: auto !important;
}

.main section .backgrond-block h1 {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    padding: 0 35px;
    bottom: 50px;
    text-align: center;
    text-shadow: 0px 1px 0 rgb(0, 0, 0), 0px -1px 0 rgb(0, 0, 0), 1px 0px 0 rgb(0, 0, 0), -1px 0px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 0px 2px 0 rgb(0, 0, 0), 0px -2px 0 rgb(0, 0, 0), 2px 0px 0 rgb(0, 0, 0), -2px 0px 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0), -2px -2px 0 rgb(0, 0, 0), 0px 3px 0 rgb(0, 0, 0), 0px -3px 0 rgb(0, 0, 0), 3px 0px 0 rgb(0, 0, 0), -3px 0px 0 rgb(0, 0, 0), 3px 3px 0 rgb(0, 0, 0), 3px -3px 0 rgb(0, 0, 0), -3px 3px 0 rgb(0, 0, 0), -3px -3px 0 rgb(0, 0, 0), 4px 4px 1px rgba(0, 0, 0, 0.31);
    -webkit-text-shadow: 0px 1px 0 rgb(0, 0, 0), 0px -1px 0 rgb(0, 0, 0), 1px 0px 0 rgb(0, 0, 0), -1px 0px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 0px 2px 0 rgb(0, 0, 0), 0px -2px 0 rgb(0, 0, 0), 2px 0px 0 rgb(0, 0, 0), -2px 0px 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0), -2px -2px 0 rgb(0, 0, 0), 0px 3px 0 rgb(0, 0, 0), 0px -3px 0 rgb(0, 0, 0), 3px 0px 0 rgb(0, 0, 0), -3px 0px 0 rgb(0, 0, 0), 3px 3px 0 rgb(0, 0, 0), 3px -3px 0 rgb(0, 0, 0), -3px 3px 0 rgb(0, 0, 0), -3px -3px 0 rgb(0, 0, 0), 4px 4px 1px rgba(0, 0, 0, 0.31);
    -moz-text-shadow: 0px 1px 0 rgb(0, 0, 0), 0px -1px 0 rgb(0, 0, 0), 1px 0px 0 rgb(0, 0, 0), -1px 0px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 0px 2px 0 rgb(0, 0, 0), 0px -2px 0 rgb(0, 0, 0), 2px 0px 0 rgb(0, 0, 0), -2px 0px 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0), -2px -2px 0 rgb(0, 0, 0), 0px 3px 0 rgb(0, 0, 0), 0px -3px 0 rgb(0, 0, 0), 3px 0px 0 rgb(0, 0, 0), -3px 0px 0 rgb(0, 0, 0), 3px 3px 0 rgb(0, 0, 0), 3px -3px 0 rgb(0, 0, 0), -3px 3px 0 rgb(0, 0, 0), -3px -3px 0 rgb(0, 0, 0), 4px 4px 1px rgba(0, 0, 0, 0.31);
    color: rgb(255, 255, 255);
}

@media (max-width: 767px) {
    .main section .backgrond-block h1 {
        font-size: calc(24px + 47.6 * ((100vw - 320px) / 1800));
    }
}

@media (min-width: 767px) {
    .main section .backgrond-block h1 {
        font-size: calc(24px + 28 * (100vw/ 1800));
    }
}

.main::before {
    opacity: 0.5;
    background: url("/assets/images/home/background.jpg") repeat fixed;
}

#footer, #header {
    width: 100vw;
}

#footer .container, #header .container {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#footer .container .flex-block-column .footer__block-menu, #header .container .flex-block-column .footer__block-menu {
    padding: 10px 0;
}

#footer .container .flex-block-column .footer__block-menu button, #header .container .flex-block-column .footer__block-menu button {
    margin: auto 5px;
    padding: 5px 0;
}

#footer .container .flex-block-column .menu-block, #header .container .flex-block-column .menu-block {
    margin: auto 0;
}

.flex-block-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#header {
    position: absolute;
}

#header .footer-txt-block {
    display: none;
}

#footer {
    margin-top: 200px;
}

#footer .container .flex-block-column .footer__block-menu .footer__logo {
    width: auto;
}

#footer .container .flex-block-column .footer__block-menu .footer__logo img {
    width: 40vw;
    height: auto;
}

#burger-menu__close-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 32px;
}

#burger-menu__close-btn svg {
    width: 25px;
    height: 25px;
}

.burger-menu.active {
    left: 0%;
    opacity: 1;
    transition: 0.8s;
}

.burger-menu {
    overflow: auto;
    position: fixed;
    top: 0;
    left: -110%;
    min-width: 70vw;
    min-height: 100vh;
    background: #fff;
    opacity: 0;
    transition: 0.8s;
}

@media screen and (max-width: 768px) {
    .burger-menu {
        left: -100%;
        transition: 0.5s;
        opacity: 0.5;
    }
}

.burger-menu .burger-menu_container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    padding-top: 70px;
}

.burger-menu .burger-menu_container .footer__logo img {
    max-width: 100px;
}

.burger-menu .burger-menu_container .flex-block-row {
    width: 100%;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .burger-menu .burger-menu_container .flex-block-row {
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

.burger-menu .burger-menu_container .flex-block-row .burger-menu__phone-container .header__phone {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    height: 40px;
}

.burger-menu .burger-menu_container .flex-block-row .burger-menu__phone-container .header__phone a {
    text-decoration: none;
    color: #000;
    opacity: 0.8;
    transition: 0.5s;
}

.burger-menu .burger-menu_container .flex-block-row .burger-menu__phone-container .header__phone a:active, .burger-menu .burger-menu_container .flex-block-row .burger-menu__phone-container .header__phone a:hover, .burger-menu .burger-menu_container .flex-block-row .burger-menu__phone-container .header__phone a:focus {
    opacity: 1;
    text-decoration: underline;
    transition: 0.5s;
}

.burger-menu .burger-menu_container .header__block-menu {
    height: 200px;
}

.burger-menu .burger-menu_container .header__block-menu a {
    font-size: 48px;
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 7px;
    opacity: 0.8;
    transition: 0.5s;
}

.burger-menu .burger-menu_container .header__block-menu a:active, .burger-menu .burger-menu_container .header__block-menu a:hover, .burger-menu .burger-menu_container .header__block-menu a:focus {
    font-size: 52px;
    opacity: 1;
    text-decoration: underline;
    transition: 0.5s;
}

.contacts__block {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 50px;
}

.contacts__block h5 {
    margin: 0 15px;
}

@media (max-width: 767px) {
    .contacts__block h5 {
        font-size: calc(14px + 30.6 * ((100vw - 320px) / 1800));
    }
}

@media (min-width: 767px) {
    .contacts__block h5 {
        font-size: calc(14px + 18 * (100vw/ 1800));
    }
}

.swiper .swiper-slide {
    height: auto;
}

.swiper .swiper-slide .container-slide {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
}

.swiper .swiper-slide .container-slide img {
    max-height: 80vh;
    height: 100%;
}

@media screen and (max-width: 768px) {
    #footer .footer__logo {
        margin: 0 auto;
    }
}

#footer .footer__logo img {
    margin: 0 auto;
    width: 25%;
    height: auto;
}

#footer .flex-block-row {
    width: 100%;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
    #footer .flex-block-row {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

#footer .header__phone a {
    margin: 0 5px;
}

#footer .footer__block-menu {
    margin-left: 50px;
}

#footer .footer__block-menu .flex-block-row {
    width: auto;
}

#footer .footer__block-menu .flex-block-row .flex-block-row {
    padding: 0 50px;
}

#footer .contact-developer {
    font-size: 12px;
}

#footer .footer__contact {
    text-align: center;
}

@media (max-width: 767px) {
    #footer .footer__contact {
        font-size: calc(14px + 30.6 * ((100vw - 320px) / 1800));
    }
}

@media (min-width: 767px) {
    #footer .footer__contact {
        font-size: calc(14px + 18 * (100vw/ 1800));
    }
}

#footer .footer__contact .flex-block-column {
    height: 100%;
}

#footer .footer__contact .flex-block-column .header__phone {
    margin: auto 0;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#footer .footer__contact .flex-block-column .header__phone h5 {
    text-align: left;
    margin: 0 15px;
}

@media screen and (max-width: 768px) {
    #footer .footer__contact .flex-block-column .header__phone h5 {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .footr__element {
        margin-bottom: 30px;
    }

    .footr__element h5 {
        text-align: center;
    }
}

@media screen and (max-width: 630px) {
    .footr__element {
        margin-bottom: 20px;
    }
}